<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My blockchain App</title>
        <link rel="stylesheet" type="text/css" href="stylesHome.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <div class="header">
                <h1>Star registry v 1.0</h1>
            </div>
            <div class="block-area">
                <h2>Current stars</h2>
                <div class="blockGrid">
                    {{#each stars}}
                        <div class="block">
                            <ul><strong>Body:</strong>
                                <li><em>Right ascension:</em> {{this.body.star.ra}}</li>
                                <li><em>Declination:</em> {{this.body.star.dec}}</li>
                                <li><em>Magnitude:</em> {{this.body.star.mag}}</li>
                                <li><em>Constellation:</em> {{this.body.star.const}}</li>
                                <li><em>Story:</em> {{this.body.star.decStory}}</li>
                            </ul>
                            <p><strong>Hash:</strong> {{this.hash}}</p>
                            <p><strong>Previous block hash:</strong> {{this.previousBlockHash}}</p>
                            <p><strong>Created:</strong> {{convertMilToDate this.time}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="footer">
                <p>{{getCurrentDate}}</p>
            </div>
        </div>
    </body>
</html>
